<a href="https://colab.research.google.com/github/uditbhaskar21/PySpark/blob/main/joins.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=64df5fbc25bcf0c025af2f14e5ca06670eabfb98527f4b1eb16fb4b625f04154
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Joins").getOrCreate()

DF1.join(DF2,DF1.key = DF2.key,Join_Type)

In [3]:
from pyspark.sql.types import *
schema = StructType([StructField("emp_id",IntegerType(),True),StructField("name",StringType(),True),StructField("city",StringType(),True),
                     StructField("country",StringType(),True),StructField("contact_no",IntegerType(),True),])

In [6]:

schema2 = StructType([StructField("emp_id",IntegerType(),True),StructField("race",StringType(),True),StructField("town",StringType(),True),
                     StructField("planet",StringType(),True),StructField("adhar",IntegerType(),True),])

In [5]:
data = [(100,"UB","Noida","Bharat",892976),(200,"Haha","Nana","Hihi",89296)]

df1 = spark.createDataFrame(data,schema)
df.show()

+------+----+-----+-------+----------+
|emp_id|name| city|country|contact_no|
+------+----+-----+-------+----------+
|   100|  UB|Noida| Bharat|    892976|
|   200|Haha| Nana|   Hihi|     89296|
+------+----+-----+-------+----------+

In [8]:
data2 = [(100,"gora","GB","earth",7722),(200,"kali","aihan","pluto",6900)]

df2 = spark.createDataFrame(data2,schema2)
df2.show()

+------+----+-----+------+-----+
|emp_id|race| town|planet|adhar|
+------+----+-----+------+-----+
|   100|gora|   GB| earth| 7722|
|   200|kali|aihan| pluto| 6900|
+------+----+-----+------+-----+

In [14]:
df3 = df1.join(df2,df1.emp_id == df2.emp_id, "Left")
df3.show()

+------+----+-----+-------+----------+------+----+-----+------+-----+
|emp_id|name| city|country|contact_no|emp_id|race| town|planet|adhar|
+------+----+-----+-------+----------+------+----+-----+------+-----+
|   100|  UB|Noida| Bharat|    892976|   100|gora|   GB| earth| 7722|
|   200|Haha| Nana|   Hihi|     89296|   200|kali|aihan| pluto| 6900|
+------+----+-----+-------+----------+------+----+-----+------+-----+