<a href="https://colab.research.google.com/github/uditbhaskar21/PySpark/blob/main/SCD1(Merge_Upsert).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 2.8 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285387 sha256=5a1c5176ff50ebdd11210131f197cfc058b80bf12f4d78538976274134173c2c
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [2]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("scd1").getOrCreate()

In [6]:
from pyspark.sql.functions import *

In [5]:
from pyspark.sql.types import *
schema = StructType([StructField("emp_id",IntegerType(),True),StructField("name",StringType(),True),StructField("city",StringType(),True),
                     StructField("country",StringType(),True),StructField("contact_no",IntegerType(),True),])

In [8]:
data = [(100,"UB","Noida","Bharat",892976),(200,"Haha","Nana","Hihi",89296)]
df = spark.createDataFrame(data,schema)
df.show()

+------+----+-----+-------+----------+
|emp_id|name| city|country|contact_no|
+------+----+-----+-------+----------+
|   100|  UB|Noida| Bharat|    892976|
|   200|Haha| Nana|   Hihi|     89296|
+------+----+-----+-------+----------+

In [ ]:
from delta.tables import *
delta_df = DeltaTable.forPath("Path")

Merge Operation

In [ ]:
delta_df.alias("target").merge(
    source = df.alias("Source"),
    condition  = "target.emp_id = source.emp_id"
).whenMatchedUpdate(set = {
    "name": "source.name",
    "city": "source.city",
    "country": "source.country"
}).whenNotMatchedInsert(values = {
    "name": "source.name",
    "city": "source.city",
    "country": "source.country"
}).execute()